# The PostgreSQL version to use
# Supported versions: 11, 12, 13, 14, 15, 16, 17
POSTGRES_VERSION=17
# The version of .NET to use
# Supported versions: 9.0 (soon to expand to 6.0, 7.0, 8.0)
DOTNET_VERSION=9.0
# The PostgreSQL port
POSTGRES_PORT=5432
# The PostgreSQL password
POSTGRES_PASSWORD=postgres
