#!/usr/bin/make -f

SRCDIR = $(CURDIR)
PG_VER = $(shell pg_buildext supported-versions)
DOTNET_SRC = dotnet_src/
DOTNET_TESTS = tests/
USR_LIBDIR = var/lib/
include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	for VER in $(PG_VER); do mkdir build-"$${VER}" build-"$${VER}"/src; done
	+pg_buildext build $(CURDIR) build-%v
	for VER in $(PG_VER); do mv build-"$${VER}"/src/* build-"$${VER}"; done
	find . -xdev 2>/dev/null -maxdepth 1 -name "build-*" -exec cp *.bc {} \;

override_dh_auto_clean:
	+pg_buildext clean $(CURDIR) build-%v
	rm -rf build*/ regression.* results/ debian/postgresql*-pldotnet/ debian/*.substvars

override_dh_auto_install:
	+pg_buildext install $(CURDIR) build-%v postgresql-%v-pldotnet

override_dh_installdeb:
	for VER in $(PG_VER); do \
		PLDOTNET_PATH="debian/postgresql-$$VER-pldotnet/$(USR_LIBDIR)PlDotNET"; \
		PKG_LIBDIR="/usr/lib/postgresql/$$VER/lib"; \
		mkdir -p "debian/postgresql-$$VER-pldotnet/$(USR_LIBDIR)" ; \
		cp -R $(DOTNET_SRC) "$$PLDOTNET_PATH" ; \
		PLDOTNET_TEMPLATE_DIR="/$(USR_LIBDIR)PlDotNET/Templates"; \
		find $$PLDOTNET_PATH -type f -name '*.cs' -exec sed -i 's|@PKG_LIBDIR|'$$PKG_LIBDIR'|g' {} \; ; \
		find $$PLDOTNET_PATH -type f -name '*.cs' -exec sed -i 's|@PLDOTNET_TEMPLATE_DIR|'$$PLDOTNET_TEMPLATE_DIR'|g' {} \; ; \
		dotnet build $$PLDOTNET_PATH -c Release ; \
		cp -R $(DOTNET_TESTS) "$$PLDOTNET_PATH/samples" ; \
		rm "$$PLDOTNET_PATH/samples/fsharp/testfsdll.sql" ; \
		rm "$$PLDOTNET_PATH/samples/csharp/testdll.sql" ; \
		cp debian/preinst debian/postinst debian/prerm debian/postrm "debian/postgresql-$$VER-pldotnet/DEBIAN/" ; \
		chmod 755 -R "debian/postgresql-$$VER-pldotnet/DEBIAN/" ; \
	done

override_dh_install-arch:
	for VER in $(PG_VER); do \
		mkdir -p "debian/postgresql-"$${VER}"-pldotnet/usr/share/doc/postgresql-"$${VER}"-pldotnet" ; \
		[ -e docs/FAQ.md ] && cp docs/FAQ.md "debian/postgresql-"$${VER}"-pldotnet/usr/share/doc/postgresql-"$${VER}"-pldotnet" ; \
		[ -e docs/*.pdf ] && cp docs/*.pdf "debian/postgresql-"$${VER}"-pldotnet/usr/share/doc/postgresql-"$${VER}"-pldotnet" ; \
		[ -d docs/html ] && cp -r docs/html "debian/postgresql-"$${VER}"-pldotnet/usr/share/doc/postgresql-"$${VER}"-pldotnet/doxygen" ; \
		[ -d docs/wiki ] && cp -r docs/wiki "debian/postgresql-"$${VER}"-pldotnet/usr/share/doc/postgresql-"$${VER}"-pldotnet/wiki" ; \
	done

%:
	dh $@
